@{
    var loggedInUserId = Context.Session.GetInt32("UserId");
    var role = Context.Session.GetString("IsAdmin");
    var userName = Context.Session.GetString("UserName");
}


<header>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark sticky-top">
        <div class="container">
            <a href="" class="navbar-brand">MVCBlogSite</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menuler" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="menuler">
                <div class="d-flex justify-content-between w-100">
                    <!-- Sol menü -->
                    <ul class="navbar-nav me-auto">
                        @if (loggedInUserId != null)
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Posts</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Create">Create Post</a>
                            </li>

                            @if (role != "True")
                            {
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="GetApprovalPendingPosts">Pending Posts</a>
                                </li>

                            }
                            @if (role == "True")
                            {
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="GetComplainPosts">Complain Posts</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Categories">Categories</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="GetAllApprovalPendingPosts">Posts Awaiting Approval</a>
                                </li>
                            }
                        }
                    </ul>

                    <!-- Sağ menü -->
                    <ul class="navbar-nav ms-auto">
                        @if (loggedInUserId != null)
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Profile">@userName</a>
                            </li>
                           @*  <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Profile">Profile</a>
                            </li> *@
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Logout">Logout</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>