@model PostViewModel

@section Styles {
    <link rel="stylesheet" href="~/css/create.css" />
}

<div class="create-container">
    <h2 class="create-title text-center">Create a New Post</h2>
    <form asp-action="Create" method="post" class="custom-form" enctype="multipart/form-data">
        <div class="form-group">
            <label for="Title">Title</label>
            <input type="text" class="form-control" id="Title" name="Title" required />
        </div>
        <div class="form-group">
            <label for="Content">Content</label>
            <textarea class="form-control" id="Content" name="Content" rows="5" required></textarea>
        </div>
        <div class="mb-3">
            <label for="photo" class="form-label">Photo</label>
            <input asp-for="Photo" type="file" class="form-control" id="photo" required>
        </div>
        <div class="form-group">
            <label for="Category">Select Category/Categories</label> <br />
            <ul class="category-list">
                @foreach (var item in ViewBag.Categories)
                {
                    <li class="category-item">
                        <label class="category-label">
                            <input type="checkbox" value="@item.GetType().GetProperty("Id").GetValue(item)" name="categoryIds" />
                            <span class="category-name">@item.GetType().GetProperty("Name").GetValue(item)</span>
                        </label>
                    </li>
                   
@* 
                    <!-- reflection işlemi -->
                    <p>@item.GetType().GetProperty("Name").GetValue(item)</p> *@
                }
            </ul>
            
        </div>
        <button type="submit" class="btn btn-custom">Send</button>
    </form>
</div>

