@model UserViewModel

@section Styles{
    <link rel="stylesheet" href="~/css/register.css" />
}

<div class="container">
    <div class="register-container">
        <h2 class="register-title text-center">Register</h2>
        <form asp-controller="Account" asp-action="Register" method="POST">
            <div class="mb-3">
                <label for="firstName" class="form-label">First Name</label>
                <input asp-for="FirstName" type="text" class="form-control" id="firstName" placeholder="First name" required>
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label for="lastName" class="form-label">Last Name</label>
                <input asp-for="LastName" type="text" class="form-control" id="lastName" placeholder="Last name" required>
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label for="birthDate" class="form-label">Birth Date</label>
                <input asp-for="BirthDate" type="date" class="form-control" id="birthDate" required>
                <span asp-validation-for="BirthDate" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input asp-for="UserName" type="text" class="form-control" id="username" placeholder="Username" required>
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input asp-for="Password" type="password" class="form-control" id="password" placeholder="Password" required>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            @if (ViewBag.ErrorMessage != null)
            {
                <div class="alert alert-danger">
                    @ViewBag.ErrorMessage
                </div>
            }
            <button type="submit" class="btn btn-register">Register</button>
        </form>
        <a class="btn btn-login" asp-controller="Account" asp-action="Login">Login</a>
    </div>
</div>